<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="cn.alphabets.light">

    <!-- 检查网络是否可用 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.location.gps" />

    <application>
        <activity
            android:name="cn.alphabets.thirdparty.qrcode.QRScanActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <!--<service-->
            <!--android:name="cn.alphabets.light.location.LocationTrackService"-->
            <!--android:process=":remote"></service>-->

        <activity
            android:name="cn.alphabets.light.ui.EditActivity"
            android:label="@string/title_activity_edit" >
        </activity>
        <activity
            android:name="cn.alphabets.light.ui.SelectActivity"
            android:label="@string/title_activity_select" >
        </activity>
        <activity
            android:name="cn.alphabets.light.ui.ImageActivity"
            android:label="@string/title_activity_image" >
        </activity>
        <activity
            android:name="cn.alphabets.light.ui.PreviewActivity"
            android:label="@string/title_activity_preview" >
        </activity>
        <activity
            android:name="cn.alphabets.light.ui.FileActivity"
            android:label="@string/title_activity_file" >
        </activity>

        <receiver
            android:name="cn.alphabets.light.location.LocationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.alphabets.light.location.ACTION_LOCATION" />
            </intent-filter>
        </receiver>
        <!--<receiver android:name="cn.alphabets.light.location.AppKilledReceiver">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.USER_PRESENT" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->
    </application>


</manifest>
